header{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(Z2BGBL7FLRAJ3L3NKYT6QE6TDQ.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-nav
{
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li
{
   display: inline-block;
}

.main-nav li a
{
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: rgba(0,0,0,.75);
}

.main-nav li.active a
{
  border: 1px solid white;
}

.main-nav li a:hover
{
  border: 1px solid white;
}

.logo img
{
  width: 150px;
  height: auto;
  float: left;
}


body {
  color: white;
  font-family: "Roboto", sans-serif;
}

table {
  background-color: rgba(0,0,0,.75);
}